@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

:root {
    --primary-color: #10b954;
    --secondary-color: #621ae7b0;
    --accent1-color: #ca6f3b;
    --accent2-color: #95b2e7;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Reboto', serif;

    --nav-background-color: #4911e4;
    --nav-link-color: #88ebe6;
    --nav-hover-link-color: #ebeedb;
    --nav-hover-background-color: #bc81e4;
}

img.Logo {
    width: 60%;
    height: 90%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
html{
    max-width: 1000px;
}

body{
    margin: 30px;
}


nav, a.navtext {
    font-size: 25px; 
    padding: 20px;
}
nav a{
    color:var(--secondary-color);
}
a {
    text-decoration: none;/* dismiss highlights*/
  }

p {
    padding: 25px;
    font-size: 25PX;
}
header{
    margin: 10px auto;
	display: grid;
	grid-template-columns: 150px 2fr 5fr;
	align-items: center;
	border-bottom: 3px solid #099b5e;
}

section,img{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 40%;
    font-display: swap;
}

img{
    width: 100%;
    height: 500px;
}

footer,img{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

