@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

:root {
    --primary-color: #10b954;
    --secondary-color: #1adae7b0;
    --accent1-color: #ca6f3b;
    --accent2-color: #95b2e7;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Reboto', serif;

    --nav-background-color: #4911e4;
    --nav-link-color: #88ebe6;
    --nav-hover-link-color: #ebeedb;
    --nav-hover-background-color: #bc81e4;
}

img.Logo {
    width: 25%;
    height: 25%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
html{
    max-width: 1000px;
}

body{
    margin: 30px;
}
img {
    max-width: 100%; 
    height: auto; 
}

nav, a.navtext {
    font-size: 25px; 
    padding: 20px;
}
nav a{
    color:var(--secondary-color);
}
a {
    text-decoration: none;/* dismiss highlights*/
  }

p {
    padding: 25px;
}
